<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <title>Title</title>
</head>
<body>
<a th:href="@{/todo/add}">Add Todo</a>

<h1>Todos for today:</h1>

<table>

    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.urgent}"></td>
        <td><a th:href="@{'/todo/'+${todo.id}+'/delete'}">DELETE</a></td>
        <td><a th:href="@{'/todo/'+${todo.id}+'/edit'}">EDIT</a></td>
    </tr>

</table>


</body>
</html>