<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <title>Title</title>
</head>
<body>
<a th:href="@{/submit}">Submit new post</a>

<h1>Trending posts</h1>

<table>

    <tr>
        <th>VOTES</th>
        <th>UPVOTE</th>
        <th>DOWNVOTE</th>
        <th>TITLE</th>
        <th>DATE</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getVotes()}"></td>
        <td><a th:href="@{'/'+${post.getId()}+'/upvote'}">+</a></td>
        <td><a th:href="@{'/'+${post.getId()}+'/downvote'}">-</a></td>
        <td> <a th:href="@{${post.getUrl()}}" th:text="${post.getTitle()}"></a></td>
        <td th:text="${post.getDateOfPost()}"></td>
    </tr>

</table>

<p>Click to other</p>
<table>
    <tr>
        <td th:each="page : ${pages}"><a th:href="@{'/' + ${page}}" th:text="${page}"></a></td>
    </tr>
</table>


</body>
</html>