<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo list </title>
</head>
<body>

    <ul>
        @foreach (var item in Model)
        {
        <li>@item.Title</li>

        }
    </ul>

</body>
</html>