<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<a th:href="@{/login}">Login</a><br>
<a th:href="@{'/?name=' + ${name}}">Information</a><br>
<a th:href="@{'/nutritionstore?name=' + ${name}}">Nutrition Store</a><br>
<a th:href="@{'/trickCenter?name=' + ${name}}">Trick Center</a><br>
<a th:href="@{/actionLog(name=${name})}">Action Log</a>


<ul th:each="action : ${actionlog}">
    <li th:text="${action}"></li>
</ul>

</body>
</html>