<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/?name=' + ${name}}">Information</a><br>
<a th:href="@{'/nutritionstore?name=' + ${name}}">Nutrition Store</a>

<div>
    <img src="/greenfox.png">
</div>


<p th:text="'This is ' + ${fox.getName()} +'.' + ' Currently living on ' + ${fox.getFood()}+ ' and ' + ${fox.getDrink()} +'.' + ' He knows ' + ${fox.getTricks().size()} + ' tricks.' "></p>

<h1>Known tricks</h1>
<div th:if="${fox.getTricks().size()!=0}">
    <ul th:each="trick : ${fox.getTricks()}">
        <li th:text="${trick}"></li>
    </ul>
</div>
<div th:if="${fox.getTricks().size()==0}">
    <p> Fox does not know any tricks yet.</p>
</div>


</body>
</html>