@model BankOfSymba.Models.BankAccount
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank Of Symba </title>
</head>
<body>
    <p>
        @Model.Name, @Model.BalanceInt.ToString(), @Model.AnimalType  <br />
    </p>
</body>
</html>