<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank Of Symba </title>
</head>
<body>
    <p>
        This is an @("<em>HTML</em>") text. <b>Enjoy yourself!</b>


    </p>
</body>
</html>