<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Title</title>
</head>
<body>
<p>
    <a href = "/webshop">My Shop</a>
</p>

<div id = "searchArea">
    <form action="/webshop/search" method="post">

        <input type="text" id = "searchBar" placeholder="...something like nike" name="keyWord">
        <input type="submit" id = "searchButton" value="Search">

    </form>
</div>

<form method="get">
    <form method="get">
        <a href="/webshop/only-available"><input type="button" value="Only available"></a>
        <a href="/webshop/cheapest-first"><input type="button" value="Cheapest First"></a>
        <a href="/webshop/contains-nike"><input type="button" value="Contains Nike"></a>
        <a href="/webshop/average-stock"><input type="button" value="Average Stock"></a>
        <a href="/webshop/most-expensive"><input type="button" value="Most Expensive Available"></a>
    </form>
</form>

<div>
    <h1 th:text="${typeOfData} + ${dataOfItem}"></h1>
</div>

</body>
</html>