table {
    border-collapse: collapse;
    border: black 2px solid;
}

thead {
    background: dimgrey;
    color: white;
}

td {
    border: black 1px solid;
}
#isKingRow{
    color: gold;
    font-weight: bold;
}