body {
    width: 600px;
    margin: auto;

}

p {
    font-family: "Calibri Light";
    font-weight: bold;
    margin: 5px auto 20px auto;
    font-size: 60px;
    color: deepskyblue;
    border-bottom: deepskyblue solid 2px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

#searchArea {
    margin: 15px 0 15px 0;

}

#searchBar {
    width: 400px;
    height: 40px;
    background-color: white;
    border: orangered solid 3px;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    padding: 0px;

}

#searchButton {
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    padding: 0px;
}

input {
    margin: auto;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    width: content-box;
    height: 30px;
    color: white;
    font-family: "Calibri Light";
    font-weight: bold;
}


table {
    font-family: "Calibri Light";
    color: black;
    border-collapse: collapse;
    padding: auto;
    margin: 20px auto auto auto;
    width: 600px;
    border: none;

}

thead td {
    border: white solid 2px;
    text-align: center;
    height: 60px;
}

table thead tr {
    font-size: 20px;
    font-weight: bold;
    background: deepskyblue;

}

table tbody tr {
    height: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
}

table tbody tr td:nth-child(3) {
    font-weight: bold;
    font-size: 20px;
}

table tbody tr td:nth-child(4) {
    font-weight: bold;
    font-size: 20px;
}