<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Title</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <td>Type</td>
        <td>Score</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exam : ${list}">
        <td th:text="${exam.getType()}"></td>
        <td th:text="${exam.getScore()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>