<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Title</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Gender</td>
        <td>Age</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${list.getStudents()}">
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getGender()}"></td>
        <td th:text="${student.getAge()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>