<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>

<h1>Add new todo:</h1>

<form action="#" th:action="@{'/todo/' + ${todo.getId()} + '/update'}" th:object="${todo}" th:method="post">
    <input type="text" th:field="*{title}" required th:placeholder="${todo.title}">
    <input type="text" th:field="*{description}" placeholder="Add a description for the todo">
    <label for="donebox">Done</label>
    <input type="checkbox" th:value="${todo.done}" th:field="*{done}" id="donebox">
    <label for="urgentbox">Urgent</label>
    <input type="checkbox" th:value="${todo.done}" id="urgentbox" th:field="*{urgent}">
    <select name="assignee" id="assigneeid">
        <option th:each="assignee : ${assignees}" th:value="${assignee.id}" th:text="${assignee.name}"></option>
    </select>

    <input type="submit" th:value="Submit">
</form>


</body>
</html>