body {
    margin: 0;
    padding: 0;
}

#loginBox {
    color: dimgrey;
    width: 300px;
    height: 300px;
    margin: 150px auto;
    background-color: whitesmoke;
    align-content: center;
}

p {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding: 40px 0 0 50px;
}

input {
    text-align: center;
    letter-spacing: 2px;
    height: 25px;
    width: 200px;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
    border: grey solid 1px;
    outline: none;
}

input:focus {
    border: lightgreen solid 1px;
    outline: none;

}

label {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 0;
}

form {
    margin: 30px auto;
    padding: 0 50px 0 50px;
}

#forgotPassword {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
}

#password {
    background: url(resources/eye.png) no-repeat 10px 10px;
    background-position: 180px 8px;
    background-size: 10px 10px;
    background-color: white;
}

#submitButton {
    width: 80px;
    background-color: dimgrey;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    text-align: center;
    letter-spacing: normal;
    margin: 10px 60px 10px 0;
}

#submitButton:hover {
    background-color: lightgrey;
    color: dimgrey;
}

